name: CreateFramework
on:
  push:
    branches:
    - master
jobs:
  build:
    name: Build XCFramework
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Get the version
        id: get_version
        run: |
         echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
         console.log("hello")
